
body{
    font-family:'Times New Roman', Times, serif;
    background-color:#efefef

}
h1{
    background-color: aquamarine;color:tomato;
    text-align: center;
    text-decoration: underline;
}
.section-summary{
    background-color: rgb(166, 180, 147);
    margin-bottom: 3rem;
}
.section-Education{
    background-color: darkgrey;
    margin-bottom: 3rem;
}
.section-skills{
    color: blanchedalmond;
background-color: rgb(16, 184, 184);
box-sizing: border-box;
margin-bottom: 3rem;
}
.footer{
   background-color: blueviolet;
   margin:2px

}
.main{
   
    margin: 2rem 4rem;
}
header ul{
   padding:2rem 4rem;

    color: inherit;
    text-decoration: none;
    border-bottom: 2px solid #29213f;
    list-style:none;
}
p{
    max-width: 80ch;
}
section li h3, section li p {
    font-size: 8rem;
    letter-spacing: 0.5px;
}